# Server
PORT=3000
NODE_ENV=development

# Open Payments
WALLET_ADDRESS=https://your-wallet-address.com
CLIENT_WALLET_ADDRESS=https://client-wallet-address.com

# Firebase/Firestore
GCP_PROJECT_ID=your-project-id
GOOGLE_APPLICATION_CREDENTIALS=path/to/service-account.json
FIRESTORE_DATABASE_ID=opendb

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Frontend URL (para CORS)
FRONTEND_URL=http://localhost:3001
