# Server
PORT=3000
NODE_ENV=development

# Open Payments
WALLET_ADDRESS_URL=https://your-wallet-address.com
KEY_ID=your-key-id
PRIVATE_KEY_PATH=dev.key

# MongoDB
MONGO_URI=mongodb://localhost:27017/openpayments

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Frontend URL (para CORS y callbacks)
FRONTEND_URL=http://localhost:3001
CALLBACK_BASE_URL=http://localhost:3000
